
.cartItem {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
  
  .cartItem .imgBox {
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    background: #00ffc855;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  .cartItem .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .cartItem .itemDescription {
    margin-left: 10px;
  }
  
  .cartItem .itemDescription .itemName {
    font-size: 16px;
    color: #2a2b3c;
  }
  
  .cartItem .itemDescription .itemQuantity {
    font-size: 16px;
    color: #2a2b3c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    position: relative;
  }
  
  .cartItem .itemDescription .itemQuantity span {
    color: #f8901c;
  }
  
  .cartItem .itemDescription .itemQuantity .quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 60px;
    position: absolute;
    right: 30px;
  }
  
  .cartItem .itemDescription .itemQuantity .quantity .itemRemove {
    color: #2a2b3c;
    font-size: 24px;
  }
  
  .cartItem .itemDescription .itemQuantity .quantity .itemAdd {
    color: #2a2b3c;
    font-size: 24px;
  }
  
  .cartItem .itemPrice {
    font-size: 16px;
    font-weight: 600;
    color: #2a2b3c;
    margin-left: auto;
  }
  
  .cartItem .itemPrice .dolorSign {
    font-size: 12px;
    color: #f8901c;
  }
  
  .cartItem .itemPrice .itemPriceValue {
    font-size: 16px;
    color: #373848;margin-right: 15px;
  }